<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "css/mycss.css"%}"
  </head>
  <body>
    <h1>Hi, welcome to django level 2</h1>
    <h2>Here are your access records</h2>

    <div class="djangtwo">
      {% if access_records %}
        <table>
          <th>Site Name</th>
          <th>Date Accessed</th>
          {% for acc in access_records %}
            <tr>
              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>No access record found</p>
        {% endif %}
    </div>

  </body>
</html>
